<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555313534374-hdhv0un0jgqjqqms584eeqnkv9d2gnei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555313534374-hdhv0un0jgqjqqms584eeqnkv9d2gnei</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>555313534374-mal65ndi9u9pr2pg9j1l7pnbdkphm25t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD4JXTc20R0eSwKlBaFnfqQ9TmVO4XmUHc</string>
	<key>GCM_SENDER_ID</key>
	<string>555313534374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoef</string>
	<key>PROJECT_ID</key>
	<string>todoef-5565e</string>
	<key>STORAGE_BUCKET</key>
	<string>todoef-5565e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555313534374:ios:6318fbfe77e1a14798eb67</string>
</dict>
</plist>